body {
  margin: 0;
  font-family: "Fira Sans", sans-serif;
}

* {
  box-sizing: border-box;
}

.alles {
  background-color: #C4CCB8;
}


.bigbox {
  background-image: url(assets/01_header/background_header.png);
  background-size: cover;
  background-position: center;
  color: white;
}


.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 32px;
  padding-right: 32px;
}

.navigation {
  padding-left: 32px;
}

.logo {
  height: 48px;
}

.Überschrift {
  font-size: 48px;
  margin-top: 96px;
  margin-bottom: 0px;
  margin-right: 32px;
}

.Überschrift2 {
  font-size: 24px;
  margin-top: 0px;
  margin-bottom: 96px;
  margin-right: 32px;
  font-weight: normal;
}

.line {
  border: solid white 2px;
  margin-left: auto;
  margin-right: auto;
  max-width: 240px;
}


.menu {
  height: 48px;
}

.flexbox {
  display: flex;
  justify-content: space-between;
}

.Flexbox2 {
  display: flex;
  flex-wrap: wrap;
  gap:48px;
  justify-content: center;
}


.Beschreibung {
  margin-top: 0px;
  font-size:36px ;
  display: flex;
  justify-content: center;
  font-weight: 700;
  margin-bottom:48px;
}

.Avatar {
  display: flex;
  height:400px;
  width: 400px;
  border-radius: 50%;
  border: 8px solid white;
  box-shadow:5px 10px 10px 0px rgba(0, 0, 0, 0.33);
  object-fit: cover;
  min-width: 400px;
}


.Beschreibtext {
  font-size: 24px;
  font-weight: 400;
  flex-basis: 400px;
  flex-grow: 1;
  flex-shrink: 0;
  color: black;
}


.Werbung {
  font-weight: 700;
}


.Wissen {
  color: white;
  font-size: 24px;
  font-weight: 700;
}


.content-wrapper {
  /* Was ist das mobile Verhalten? */
  width: 100%;
}


@media (min-width: 912px) {
  .content-wrapper { width: 50%;
    /* Was ist das Verhalten auf Desktop? */

  }
}

.DIVA-E {
  font-size: 36px;
}


.image {
  background-image: url(assets/03_company/background_company.png);
  background-size:cover;
  background-position: center;
}

  
.maintext {
  font-size: 24px;
  font-weight: 400;
}

.Overline {
  font-size: 24px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  letter-spacing: 0.6px;
}



.Headline {
  margin-top: 0px;
  font-size: 36px;
  font-weight: 700;
  display: flex;
  justify-content: center;
}

.Flexbox3 {
  display: flex;
  width: Auto;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 32px;
  margin-top: 48px;
  gap: 16px;
}

@media ( max-width:787px) {
  .Flexbox3 {
    justify-content: center;
  }
}


.Karte {
  width: 360px;
  height: 525px;
  background-color: white;
  min-width: 360px;
  border: 2px solid var(--colors-white, #FFF);
  box-shadow:5px 10px 10px 0px rgba(0, 0, 0, 0.33);
  border-radius: 32px;
  overflow: hidden;
  transition: all 0.75s;
}

.Karte:hover {
  transform: scale(1.05);
}


.Image1 {
  height:260px;
  width:358px;
}


.Minicontainer {
  margin-top: 16px;
  margin-left: 16px;
  margin-right: 16px;
  font-size: 16px;
  color: #24912D;
  display: flex;
  justify-content: center;
  font-weight: 700;
}


.Rollen  {
  margin-left: 16px;
  display: flex;
  justify-content: center;
  margin-top: 0px;
  font-size:24px ;
  font-weight: 700;
  width: 328px;
}


.Infotext {
  margin-left: 16px;
  margin-right: 16px;
  font-size:16px;
  font-weight: 400;
  height: 156px;
}

.Last {
  text-align: center;
  padding-top:48px;
  color: White;
  font-size: 32px;
  margin-bottom: 0px;
}
.Lastheading {
  background-color:#172F2C ;
}


.Motto {
  display: flex;
  justify-content: center;
  padding-bottom: 48px;
  font-size: 20px;
  color: #FFF;
  letter-spacing: 2px;
  font-weight: 400;
  font-style: italic;
}


.Overline-Galerie {
display: flex;
justify-content: end;
font-weight: 700;
font-size:24px;
}

.Eindrücke {
  text-align: right;
  margin-top: 0px;
  font-size: 36px;
  margin-bottom: 0px;
}

.Galerie {
  margin-top: 48px;
  object-fit: cover;
  border: 16px solid white;
  transform: rotate(-2.86deg) ;
  transform-origin: bottom right;
  width: 50%;
  aspect-ratio: 4/3;
  box-shadow: 5px 10px 10px 0px rgba(0, 0, 0, 0.33);
  margin-bottom: 48px;
}


.Flexbox4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.Richtungen {
  height: 38px;
}

.footer {
  display: flex;
  color: #FFF;
  font-weight: 300;
  font-style: italic;
  padding-left: 32px;
  padding-right: 32px;
  justify-content: space-between;
}

@media (max-width:1175px) {
  .footer {
    display: block;
  }
}

.minicontainer2 {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding-top: 8px;
  padding-bottom: 8px;
  align-items: center;
  flex-wrap: wrap;
}


.backround {
  background-color: #172F2C ;
  display: flex;
  justify-content: center;
}

.Button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-width: 435px;
}

@media (max-width:1175px) {
  .Button {
    justify-content: center;
  }
}

a:hover {
  color: #ef840A;
}

a {
  color: inherit;
}
