body {
  margin: 0;
  font-family: "Fira Sans", sans-serif;
}

* {
  box-sizing: border-box;
}

.alles {
  background-color: #C4CCB8;
}



.bigbox {
  background-image: url(assets/01_header/background_header.png);
  background-size: cover;
  background-position: center;
  color: white;
}


.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 32px;
  padding-right: 32px;
}

.navigation {
  padding-left: 32px
}

.logo {
  height: 48px;
}

.Überschrift {
  font-size: 48px;
  margin-top: 96px;
  margin-bottom: 0px;
  margin-right: 32px;
}

.Überschrift2 {
  font-size: 24px;
  margin-top: 0px;
  margin-bottom: 96px;
  margin-right: 32px;
  font-weight: normal;
}

.line {
  border: solid white 2px;
  margin-left: auto;
  margin-right: auto;
  max-width: 240px;
}


.menu {
  height: 48px;
}

.flexbox {
  display: flex;
  justify-content: space-between;
}

.bigbox2 {
  font-size: 24px;
  margin-bottom:0px;
  display: flex;
  justify-content: center;
  font-weight: 700;
}


.Beschreibung {
  margin-top: 0px;
  font-size:36px ;
  display: flex;
  justify-content: center;
  font-weight: 700;
  margin-bottom:48px;
}

.Avatar {
  display: flex;
  height:400px;
  width: 400px;
 border-radius: 50%;
 border: 8px solid white;
 box-shadow:5px 10px 10px 0px rgba(0, 0, 0, 0.33);
 object-fit: cover;
 min-width: 400px;
}


.Flexbox2 {
  display: flex;
  flex-wrap: wrap;
  gap:48px;
  justify-content: center;
}

.Beschreibtext {
  font-size: 24px;
  font-weight: 400;
  flex-basis: 400px;
  flex-grow: 1;
  flex-shrink: 0;
  color: black;
}



.Werbung {
  font-weight: 700;
}


.Wissen {
  color: white;
  font-size: 24px;
  font-weight: 700;
}


.content-wrapper {
  /* Was ist das mobile Verhalten? */
  width: 100%;
}


@media (min-width: 912px) {
  .content-wrapper { width: 50%;
    /* Was ist das Verhalten auf Desktop? */

  }
}

.DIVA-E {
  font-size: 36px;
}

.test {
  margin-top:48px;
}


.image {
  background-image: url(assets/03_company/background_company.png);
  background-size:cover;
  background-position: center;
}

  


.maintext {
  font-size: 24px;
  font-weight: 400;
}
