body {
  margin: 0;
  font-family: "Fira Sans", sans-serif;
}

* {
  box-sizing: border-box;
}

.alles {
  background-color: #C4CCB8;
}


.bigbox {
  background-image: url(assets/01_header/background_header.png);
  background-size: cover;
  background-position: center;
  color: white;
}


.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 32px;
  padding-right: 32px;
}

.navigation {
  padding-left: 32px;
}

.logo {
  height: 48px;
}

.Überschrift {
  font-size: 48px;
  margin-top: 96px;
  margin-bottom: 0px;
  margin-right: 32px;
}

.Überschrift2 {
  font-size: 24px;
  margin-top: 0px;
  margin-bottom: 96px;
  margin-right: 32px;
  font-weight: normal;
}

.line {
  border: solid white 2px;
  margin-left: auto;
  margin-right: auto;
  max-width: 240px;
}


.menu {
  height: 48px;
}

.flexbox {
  display: flex;
  justify-content: space-between;
}

.Flexbox2 {
  display: flex;
  flex-wrap: wrap;
  gap:48px;
  justify-content: center;
}


.Beschreibung {
  margin-top: 0px;
  font-size:36px ;
  display: flex;
  justify-content: center;
  font-weight: 700;
  margin-bottom:48px;
}

.Avatar {
  display: flex;
  height:400px;
  width: 400px;
  border-radius: 50%;
  border: 8px solid white;
  box-shadow:5px 10px 10px 0px rgba(0, 0, 0, 0.33);
  object-fit: cover;
  min-width: 400px;
}


.Beschreibtext {
  font-size: 24px;
  font-weight: 400;
  flex-basis: 400px;
  flex-grow: 1;
  flex-shrink: 0;
  color: black;
}


.Werbung {
  font-weight: 700;
}


.Wissen {
  color: white;
  font-size: 24px;
  font-weight: 700;
}


.content-wrapper {
  /* Was ist das mobile Verhalten? */
  width: 100%;
}


@media (min-width: 912px) {
  .content-wrapper { width: 50%;
    /* Was ist das Verhalten auf Desktop? */

  }
}

.DIVA-E {
  font-size: 36px;
}

.test {
  margin-top:48px;
}


.image {
  background-image: url(assets/03_company/background_company.png);
  background-size:cover;
  background-position: center;
}

  
.maintext {
  font-size: 24px;
  font-weight: 400;
}

.Overline {
  font-size: 24px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  letter-spacing: 0.6px;
}



.Headline {
  margin-top: 0px;
  font-size: 36px;
  font-weight: 700;
  display: flex;
  justify-content: center;
}

.Flexbox3 {
  display: flex;
  width: Auto;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 32px;
  margin-top: 48px;
  gap: 16px;
}

@media ( max-width:787px) {
  .Flexbox3 {
    justify-content: center;
  }
}


.Karte {
  width: 360px;
  height: 525px;
  background-color: white;
  min-width: 360px;
  border: 2px solid var(--colors-white, #FFF);
  box-shadow:5px 10px 10px 0px rgba(0, 0, 0, 0.33);
  border-radius: 32px;
}


.Image1 {
  height:258px;
  width:358px;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  border: 2px solid var(--colors-white, #FFF);
}


.Minicontainer {
  margin-top: 16px;
  margin-left: 16px;
  margin-right: 16px;
  font-size: 16px;
  color: #24912D;
  display: flex;
  justify-content: center;
  font-weight: 700;
}


.Rollen  {
  margin-left: 16px;
  display: flex;
  justify-content: center;
  margin-top: 0px;
  font-size:24px ;
  font-weight: 700;
  width: 328px;
}

.Infotext {
  margin-left: 16px;
  margin-right: 16px;
  font-size:16px;
  font-weight: 400;
  height: 156px;
}




 




